.profile {
  box-shadow: var(--shadow);
}

.description {
  padding: 2em;
  background-color: var(--bg-color-primary);
  border-radius: 4px;
}

.avatar {
  display: block;
  margin: 0 auto 1.5em;
  width: 120px;
  height: 120px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  display: block;
}

.name {
  margin-bottom: 0.5em;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: var(--text-color-accent);
}

.tag,
.location {
  color: var(--text-color-light);
  text-align: center;
}

.tag {
  margin-bottom: 0.5em;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.stats__item {
  padding: 1.25em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background-color: var(--bg-color-light);
  border-top: 1px solid var(--border-color);
}

.stats__item:not(:last-child) {
  border-right: 1px solid var(--border-color);
}

.label,
.quantity {
  font-size: 0.875rem;
  color: var(--text-color-light);
}

.quantity {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--text-color-accent);
}
