.item {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.75em;
  min-width: 15em;
  padding: 1em;
  box-shadow: var(--shadow);
  background-color: var(--bg-color-primary);
}

.status {
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.avatar {
  width: 3em;
  height: 3em;
  border-radius: 0.125em;
}

.name {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--text-color-accent);
}
