.statistics {
  box-shadow: var(--shadow);
}

.title {
  padding: 2em 0.5em;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color-accent);
  background-color: var(--bg-color-primary);
}

.stat__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  min-width: 4em;
  padding: 0.75em;
  color: var(--text-color-primary);
}

.label {
  font-size: 0.875rem;
}

.percentage {
  font-size: 1.25rem;
}
