@import-normalize; /* bring in normalize.css styles */

:root {
  --bg-color-primary: white;
  --bg-color-light: #f3f6f9;
  --bg-color-dark: #e7ecf2;
  --bg-color-table-head: #00bcd5;

  --shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --border-color: #e5eaf1;

  --text-color-accent: #3c4756;
  --text-color-light: #b1b9c2;
  --text-color-primary: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

td,
th,
tr {
  /* display: ; */
  vertical-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
